apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: build
  name: build-bc
spec:
  output:
    to:
      kind: ImageStreamTag
      name: build-is:latest
  runPolicy: Serial
  source:
    type: Binary
  strategy:
    dockerStrategy:
      dockerfilePath: ./Dockerfile
    type: Source
